flows/UIaaS_KnaaS_Interaction/4_UIaaS_PFLyon_Interaction
[{"id":"b2659840.c6e31","type":"tab","label":"4_UIaaS_PFLyon_Interaction"},{"id":"6d768b0d.66b4ec","type":"inject","z":"b2659840.c6e31","name":"Execute UIaaS Request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169,"y":290,"wires":[["d9229793.f66668"]]},{"id":"d9229793.f66668","type":"omiNodeV9","z":"b2659840.c6e31","name":"Read O-MI Node Lyon Parking Facillities","path_InfoItem":"http://veivi.parkkis.com:8080/Objects/ParkingService/ParkingFacilities","token":"","operations":"Read","ttl":"","interval":"","callback":"","newest":"","oldest":"","begin":"","end":"","value":"","reqID":"","metadata":true,"readTypes":"read1time","x":485,"y":289,"wires":[["6921b214.449fd4"]]},{"id":"f82669bb.7a435","type":"debug","z":"b2659840.c6e31","name":"OutputOMINodeLyon","active":true,"console":"false","complete":"payload","x":1133,"y":304,"wires":[]},{"id":"6921b214.449fd4","type":"xml","z":"b2659840.c6e31","name":"Lyon O-DF Structure to JSON","attr":"","chr":"","x":830,"y":201,"wires":[["a577fdf4.3f0548"]]},{"id":"a577fdf4.3f0548","type":"python3-function","z":"b2659840.c6e31","name":"Extract Response O-MI Node","func":"#taking response value \n#Note in response first is longitude --> 0 and latitude -->1\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\n\nlstForGeo = []\nlstForAvailability = []\nlstForOpeningHours = []\npointOfInterest = []\npointOfPark = []\npSpaces = []\nparsedGeoAndCorrespondingAvailability = []\nlstForParkingName = []\n\nif response == \"200\":\n    node.log(\"Extract Response O-MI Node: Success in reading O-MI Node Contents\")\n    \n    #getting the array of Objects with the Parking Facilities Data from Lyon\n    lyonParkikisInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\n    lyonParkikisObjectID = lyonParkikisInfoItem[\"id\"][0]\n    lyonParkikisArrayofItems = lyonParkikisInfoItem[\"Object\"][0][\"Object\"]\n    \n    #Storing the result of three different types of Objects in three different lists, hence the indexes of the list items \n    #correspond to a unanimous rootID\n    for object in lyonParkikisArrayofItems:\n        parsedFacility = object[\"Object\"]\n        lstForParkingName.append(object[\"id\"][0])\n        for data in parsedFacility:\n            if data[\"id\"][0] == \"geo\":\n             lstForGeo.append(data['InfoItem'])\n            elif data[\"id\"][0] == \"ParkingSpaces\":\n             lstForAvailability.append(data[\"Object\"]) \n            else:\n             lstForOpeningHours = data\n             \n   #points for coordinates geo location\n    for geo in lstForGeo:\n        longitude = 0.0\n        latitude = 0.0\n        for coords in geo:\n            if coords[\"$\"][\"name\"] == \"longitude\":\n             longitude = coords[\"value\"][0][\"_\"]\n            else:\n             latitude = coords[\"value\"][0][\"_\"]\n            \n        pointOfInterest.append([ float(longitude), float(latitude) ]) \n    \n    #relative points of Parking Availabilities\n    number = 0\n    for ParkingSpaces in lstForAvailability:\n        parkID = \"000\"\n        parkAvailability = \"false\"\n        pointOfPark.append([])\n        for parkPlatz in ParkingSpaces:\n            parkID = parkPlatz[\"id\"][0]\n            parkAvailability = parkPlatz[\"InfoItem\"][0][\"value\"][0][\"_\"]\n            pointOfPark[number].append([ parkID , parkAvailability ])\n        number = number + 1\n    \n    #parsedGeoAndCorrespondingAvailability\n    iterator = 0\n    for items in pointOfInterest:\n        parsedGeoAndCorrespondingAvailability.append([{'geo': items },{'name': lstForParkingName[iterator]},{'ParkingSpaces': pointOfPark[iterator]}])\n        iterator = iterator + 1\n\nelse:\n    node.error(\"Extract Response O-MI Node: Failure in reading O-MI Node Contents\")\n\nmsg[\"payload\"] = parsedGeoAndCorrespondingAvailability;\n\nreturn msg","outputs":1,"x":815,"y":365,"wires":[["46ad9a7f.f868b4","f82669bb.7a435"]]},{"id":"46ad9a7f.f868b4","type":"python3-function","z":"b2659840.c6e31","name":"Processing Map Data","func":"#Data processing to send for plotting on worldMap\ndataToDisplay = []\n\n# msg.payload.layer = \"earthquake\";\n# msg.payload.name = msg.payload.id;\n# msg.payload.icon = \"globe\";\n# msg.payload.iconColor = \"orange\";\n\niterator = 0\nfor items in msg[\"payload\"]:\n    longitude=items[0][\"geo\"][0]\n    latitude=items[0][\"geo\"][1]\n    name = items[1][\"name\"]\n    dataToDisplay.append({\"lon\": longitude, \"lat\": latitude, \"layer\": \"ParkingSpaces\", \"name\":name, \"icon\":\"globe\", \"iconColor\":\"orange\"})\n    \n    for spaces in items[2][\"ParkingSpaces\"]:\n        spaceName = spaces[0]\n        dataToDisplay[iterator][spaceName] = spaces[1]\n    iterator = iterator+1\nmsg[\"payload\"] = dataToDisplay\nreturn msg","outputs":1,"x":1054.5,"y":449,"wires":[["ba20ed22.4e7b78"]]},{"id":"ba20ed22.4e7b78","type":"worldmap","z":"b2659840.c6e31","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":1170.5,"y":565,"wires":[]},{"id":"3594c8b0.a69e4","type":"function","z":"b2659840.c6e31","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:0,lon:0,zoom:3} };\nreturn msg;","outputs":1,"noerr":0,"x":916,"y":568,"wires":[["ba20ed22.4e7b78"]]},{"id":"1fb78090.89c257","type":"inject","z":"b2659840.c6e31","name":"Inject This First","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":705,"y":569,"wires":[["3594c8b0.a69e4"]]}]
