flows/UIaaS_KnaaS_Interaction/4_UIaaS_PFLyon_Interaction
[
    {
        "id": "8cc0225a.7a9ca",
        "type": "tab",
        "label": "4_UIaaS_PFLyon_Interaction"
    },
    {
        "id": "1df54d54.97ec43",
        "type": "inject",
        "z": "8cc0225a.7a9ca",
        "name": "Execute UIaaS Request",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 169,
        "y": 290,
        "wires": [
            [
                "e0c86a4d.43ed98",
                "4678f1bb.5d4c6",
                "c554cc84.04211"
            ]
        ]
    },
    {
        "id": "4678f1bb.5d4c6",
        "type": "omiNodeV9",
        "z": "8cc0225a.7a9ca",
        "name": "Read O-MI Node Lyon Parking Facillities",
        "path_InfoItem": "http://veivi.parkkis.com:8080/Objects",
        "token": "",
        "operations": "Read",
        "ttl": "80",
        "interval": "",
        "callback": "",
        "newest": "",
        "oldest": "",
        "begin": "",
        "end": "",
        "value": "",
        "reqID": "",
        "metadata": true,
        "readTypes": "read1time",
        "x": 485,
        "y": 289,
        "wires": [
            [
                "de46723f.5df17"
            ]
        ]
    },
    {
        "id": "fe9bbfa5.c00548",
        "type": "debug",
        "z": "8cc0225a.7a9ca",
        "name": "OutputOMINodeLyon",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1144,
        "y": 269,
        "wires": []
    },
    {
        "id": "de46723f.5df17",
        "type": "xml",
        "z": "8cc0225a.7a9ca",
        "name": "Lyon O-DF Structure to JSON",
        "attr": "",
        "chr": "",
        "x": 838,
        "y": 208,
        "wires": [
            [
                "ccfabd12.3982e8"
            ]
        ]
    },
    {
        "id": "ccfabd12.3982e8",
        "type": "python3-function",
        "z": "8cc0225a.7a9ca",
        "name": "Extract Response O-MI Node Lyon",
        "func": "#taking response value \n#Note in response first is longitude --> 0 and latitude -->1\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\n\nlstForGeo = []\nlstForAvailability = []\nlstForOpeningHours = []\npointOfInterest = []\npointOfPark = []\npSpaces = []\nparsedGeoAndCorrespondingAvailability = []\nlstForParkingName = []\n\nif response == \"200\":\n node.log(\"Extract Response O-MI Node: Success in reading O-MI Node Contents\")\n \n #getting the array of Objects with the Parking Facilities Data from Lyon\n lyonParkikisInfoItemArray = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"]\n \n for items in lyonParkikisInfoItemArray:\n     if items[\"id\"][0] == \"ParkingService\":\n         lyonParkikisInfoItem = items\n \n lyonParkikisObjectID = lyonParkikisInfoItem[\"id\"][0]\n lyonParkikisArrayofItems = lyonParkikisInfoItem[\"Object\"][0][\"Object\"]\n \n #Storing the result of three different types of Objects in three different lists, hence the indexes of the list items \n #correspond to a unanimous rootID\n for object in lyonParkikisArrayofItems:\n    parsedFacility = object[\"Object\"]\n    lstForParkingName.append(object[\"id\"][0])\n    for data in parsedFacility:\n        if data[\"id\"][0] == \"geo\":\n            lstForGeo.append(data['InfoItem'])\n        elif data[\"id\"][0] == \"ParkingSpaces\":\n            lstForAvailability.append(data[\"Object\"]) \n        else:\n            lstForOpeningHours = data\n \n #points for coordinates geo location\n for geo in lstForGeo:\n    longitude = 0.0\n    latitude = 0.0\n    for coords in geo:\n        if coords[\"$\"][\"name\"] == \"longitude\":\n            longitude = coords[\"value\"][0][\"_\"]\n        else:\n            latitude = coords[\"value\"][0][\"_\"]\n \n    pointOfInterest.append([ float(longitude), float(latitude) ]) \n \n #relative points of Parking Availabilities\n number = 0\n for ParkingSpaces in lstForAvailability:\n    parkID = \"000\"\n    parkAvailability = \"false\"\n    pointOfPark.append([])\n    for parkPlatz in ParkingSpaces:\n        parkID = parkPlatz[\"id\"][0]\n        parkAvailability = parkPlatz[\"InfoItem\"][0][\"value\"][0][\"_\"]\n        pointOfPark[number].append([ parkID , parkAvailability ])\n    number = number + 1\n \n #parsedGeoAndCorrespondingAvailability\n iterator = 0\n for items in pointOfInterest:\n    parsedGeoAndCorrespondingAvailability.append([{'geo': items },{'name': lstForParkingName[iterator]},{'ParkingSpaces': pointOfPark[iterator]}])\n    iterator = iterator + 1\n\nelse:\n node.error(\"Extract Response O-MI Node: Failure in reading O-MI Node Contents\")\n\nmsg[\"payload\"] = parsedGeoAndCorrespondingAvailability;\n# msg[\"payload\"] = lyonParkikisInfoItem ;\nmsg[\"geoOnly\"] = pointOfInterest;\n\nreturn msg",
        "outputs": 1,
        "x": 849,
        "y": 311,
        "wires": [
            [
                "fe9bbfa5.c00548",
                "4e4f2a06.059c64"
            ]
        ]
    },
    {
        "id": "4e4f2a06.059c64",
        "type": "python3-function",
        "z": "8cc0225a.7a9ca",
        "name": "PreProcessing Map Data Lyon",
        "func": "#Data processing to send for plotting on worldMap\ndataToDisplay = []\n\niterator = 0\nfor items in msg[\"payload\"]:\n longitude=items[0][\"geo\"][0]\n latitude=items[0][\"geo\"][1]\n name = items[1][\"name\"]\n iconColor=\"red\"\n \n dataToDisplay.append({\"lon\": longitude, \"lat\": latitude, \"layer\": \"ParkingSpaces\", \"name\":name, \"icon\":\"car\", \"iconColor\":iconColor})\n\n for spaces in items[2][\"ParkingSpaces\"]:\n    spaceName = spaces[0]\n    dataToDisplay[iterator][spaceName] = spaces[1]\n    availabilty = spaces[1]\n    if availabilty == \"true\":\n        iconColor = \"green\"\n        dataToDisplay[iterator][\"iconColor\"] = iconColor\n\n iterator = iterator+1\nmsg[\"payload\"] = dataToDisplay\nreturn msg",
        "outputs": 1,
        "x": 1172.5,
        "y": 206,
        "wires": [
            [
                "7bb48d5.964c1f4",
                "baa49c6d.ff7378"
            ]
        ]
    },
    {
        "id": "7bb48d5.964c1f4",
        "type": "worldmap",
        "z": "8cc0225a.7a9ca",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 2053.5,
        "y": 402,
        "wires": []
    },
    {
        "id": "c554cc84.04211",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "move and zoom",
        "func": "msg.payload = { command:{layer:\"Esri Terrain\",lat:61.0,lon:23.0,zoom:3} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1796,
        "y": 403,
        "wires": [
            [
                "7bb48d5.964c1f4"
            ]
        ]
    },
    {
        "id": "72e67fa7.37e8c8",
        "type": "inject",
        "z": "8cc0225a.7a9ca",
        "name": "Inject This First",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1585,
        "y": 404,
        "wires": [
            [
                "c554cc84.04211"
            ]
        ]
    },
    {
        "id": "e0c86a4d.43ed98",
        "type": "omiNodeV9",
        "z": "8cc0225a.7a9ca",
        "name": "Read O-MI Node Helsinki Parking Facillities",
        "path_InfoItem": "http://biotope.cs.hut.fi/omi/node/",
        "token": "",
        "operations": "Read",
        "ttl": "",
        "interval": "",
        "callback": "",
        "newest": "",
        "oldest": "",
        "begin": "",
        "end": "",
        "value": "",
        "reqID": "",
        "metadata": true,
        "readTypes": "read1time",
        "x": 458,
        "y": 500,
        "wires": [
            [
                "5a0f0da5.472cfc"
            ]
        ]
    },
    {
        "id": "5a0f0da5.472cfc",
        "type": "xml",
        "z": "8cc0225a.7a9ca",
        "name": "Helsinki O-DF Structure to JSON",
        "attr": "",
        "chr": "",
        "x": 799,
        "y": 453,
        "wires": [
            [
                "a5e43309.c6551"
            ]
        ]
    },
    {
        "id": "a5e43309.c6551",
        "type": "python3-function",
        "z": "8cc0225a.7a9ca",
        "name": "Extract Response O-MI Node Helsinki",
        "func": "#taking response value \n#Note in response first is longitude --> 0 and latitude -->1\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\n\nnodeName = \"Helsinki\"\nlstForGeo = []\nlstForAvailability = []\nlstForOpeningHours = []\nlstForCapacities = []\npointOfInterest = []\npointOfPark = []\npSpaces = []\nparsedGeoAndCorrespondingAvailability = []\nlstForParkingName = []\n\nif response == \"200\":\n    node.log(\"Extract Response O-MI Node: Success in reading O-MI Node Contents\")\n \n    #getting the array of Objects with the Parking Facilities Data from Lyon\n    helsinkiParkikisInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"]\n    \n    #Iterating the list for the Object with Parking Facilities\n    for omiObject in helsinkiParkikisInfoItem:\n        if omiObject[\"id\"][0] == \"ParkingService\":\n            helsinkiParkikisInfoItemList = omiObject\n    \n    helsinkiParkikisObjectID = helsinkiParkikisInfoItemList[\"id\"][0] + \" : \" + nodeName\n    helsinkiParkikisArrayofItems = helsinkiParkikisInfoItemList[\"Object\"][0][\"Object\"]\n \n    #Storing the result of three different types of Objects in three different lists, hence the indexes of the list items \n    #correspond to a unanimous rootID\n    for object in helsinkiParkikisArrayofItems:\n        parsedFacility = object[\"Object\"]\n        lstForParkingName.append(object[\"id\"][0])\n        \n        geoBool = False\n        ParkingSpacesBool = False\n        openingHoursSpecificationBool = False\n        capacitiesBool = False\n        \n        #storing the object values in the respective arrays..\n        for data in parsedFacility:\n            tempId = data[\"id\"][0]\n            \n            if tempId == \"geo\":\n                lstForGeo.append({\"res\":data[\"InfoItem\"], \"err\":\"False\"})\n                geoBool = True\n            elif tempId == \"ParkingSpaces\":\n                lstForAvailability.append({\"res\":data[\"Object\"], \"err\":\"False\"})\n                ParkingSpacesBool = True\n            elif (tempId == \"openingHoursSpecification\") or (tempId == \"openingHoursSpecifications\"):\n                lstForOpeningHours.append({\"res\":data, \"err\":\"False\"})\n                openingHoursSpecificationBool = True\n            elif tempId == \"Capacities\":\n                lstForCapacities.append({\"res\":data[\"Object\"], \"err\":\"False\"})\n                capacitiesBool = True\n        \n        if geoBool == False:\n            lstForGeo.append({\"res\":\"geo\", \"err\":\"True\"})\n        elif ParkingSpacesBool == False:\n            lstForAvailability.append({\"res\":\"ParkingSpaces\", \"err\":\"True\"})\n        elif openingHoursSpecificationBool == False:\n            lstForOpeningHours.append({\"res\":\"openingHoursSpecification\", \"err\":\"True\"})\n        elif capacitiesBool == False:\n            lstForCapacities.append({\"res\":\"capacity\", \"err\":\"True\"})\n        \n        geoBool = False\n        ParkingSpacesBool = False\n        openingHoursSpecificationBool = False\n        capacitiesBool = False\n        \n    #points for geo coordinates\n    for data in lstForGeo:\n        if data[\"err\"] == \"False\":\n            longitude = 0.0\n            latitude = 0.0\n            for points in data[\"res\"]:\n                if points[\"$\"][\"name\"] == \"longitude\":\n                    longitude = points[\"value\"][0][\"_\"]\n                elif points[\"$\"][\"name\"] == \"latitude\":\n                    latitude = points[\"value\"][0][\"_\"]\n            pointOfInterest.append({\"coordinates\":[float(longitude),float(latitude)], \"err\":\"False\"})\n        elif data[\"err\"] == \"True\":\n            pointOfInterest.append({\"coordinates\":[float(longitude),float(latitude)], \"err\":\"True\"})\n    \n    #parking spaces for the corresponding coordinates\n    number = 0\n    for data in lstForAvailability:\n        pointOfPark.append({\"spaces\":[], \"err\":\"False\"})\n        parkID = 0\n        parkAvailability = False\n        if data[\"err\"] == \"False\":\n            for objects in data[\"res\"]:\n                parkID = objects[\"id\"][0]\n                for pois in objects[\"InfoItem\"]:\n                    if pois[\"$\"][\"name\"] == \"available\":\n                        parkAvailability = pois[\"value\"][0][\"_\"]\n                pointOfPark[number][\"spaces\"].append([parkID, parkAvailability])\n        elif data[\"err\"] == \"True\":\n            pointOfPark[\"err\"] = True\n        number = number + 1\n    \n    #clean pois in parsedGeoAndCorrespondingAvailability for preprocessor to map\n    iterator = 0\n    for items in pointOfInterest:\n        if items[\"err\"] == \"False\" and pointOfPark[iterator][\"err\"] == \"False\":\n            parsedGeoAndCorrespondingAvailability.append({\"geo\": items[\"coordinates\"], \"name\":lstForParkingName[iterator], \"parkingSpaces\":pointOfPark[iterator][\"spaces\"]})\n        iterator = iterator + 1\nelse:\n    node.error(\"Extract Response O-MI Node: Failure in reading O-MI Node Contents\")\n\nmsg[\"payload\"] = parsedGeoAndCorrespondingAvailability ;\nmsg[\"geoOnly\"] = pointOfInterest;\n#msg[\"payload\"] = helsinkiParkikisInfoItemList;\n\nreturn msg",
        "outputs": 1,
        "x": 804,
        "y": 560,
        "wires": [
            [
                "5d0a5bbd.8d0b24",
                "7d1b98d2.99013"
            ]
        ]
    },
    {
        "id": "7d1b98d2.99013",
        "type": "python3-function",
        "z": "8cc0225a.7a9ca",
        "name": "PreProcessing Map Data Helsinki",
        "func": "#Data processing to send for plotting on worldMap\ndataToDisplay = []\n\niterator = 0\nfor items in msg[\"payload\"]:\n    longitude=items[\"geo\"][0]\n    latitude=items[\"geo\"][1]\n    name = items[\"name\"]\n    iconColor=\"red\"\n \n    dataToDisplay.append({\"lon\": longitude, \"lat\": latitude, \"layer\": \"ParkingSpaces\", \"name\":name, \"icon\":\"fa-truck\", \"iconColor\":iconColor})\n\n    for spaces in items[\"parkingSpaces\"]:\n        spaceName = spaces[0]\n        dataToDisplay[iterator][spaceName] = spaces[1]\n        availabilty = spaces[1]\n        if availabilty == \"true\":\n            iconColor = \"green\"\n            dataToDisplay[iterator][\"iconColor\"] = iconColor\n\n    iterator = iterator+1\n    \nmsg[\"payload\"] = dataToDisplay\nreturn msg",
        "outputs": 1,
        "x": 1149,
        "y": 456,
        "wires": [
            [
                "7bb48d5.964c1f4",
                "3078653e.79f69a"
            ]
        ]
    },
    {
        "id": "5d0a5bbd.8d0b24",
        "type": "debug",
        "z": "8cc0225a.7a9ca",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "c850b417.f66fb",
        "type": "ui_template",
        "z": "8cc0225a.7a9ca",
        "group": "d13e7fd8.8447",
        "name": "Map",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<iframe src=\"http://127.0.0.1:1880/worldmap/\" height=\"658\" width=\"1482\">\n <p>Your browser does not support iframes.</p>\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1409.5,
        "y": 453,
        "wires": [
            []
        ]
    },
    {
        "id": "f36e0fe.e7dfa7",
        "type": "comment",
        "z": "8cc0225a.7a9ca",
        "name": "O-Mi Node data for parking facilities from Node 1",
        "info": "",
        "x": 466.5,
        "y": 253,
        "wires": []
    },
    {
        "id": "1ad95c30.81ad44",
        "type": "comment",
        "z": "8cc0225a.7a9ca",
        "name": "O-Mi Node data for parking facilities from Node 2",
        "info": "",
        "x": 449,
        "y": 462,
        "wires": []
    },
    {
        "id": "1108d6a9.2a7eb1",
        "type": "sparql",
        "z": "8cc0225a.7a9ca",
        "name": "POI's for Node 1 using DBPedia",
        "prefix": "http://dbpedia.org/sparql",
        "func": "select ?thing ?type ?typeName ?name ?point where {\n\nVALUES ?city {<http://dbpedia.org/resource/Helsinki>}\n\n?thing dbo:location ?city.\n\noptional \n{\n?thing a ?type .\nVALUES ?type {<http://dbpedia.org/ontology/Hotel>}\nBIND( \"Hotel\" as ?typeName )\n}\n\noptional\n{\n?thing a ?type.\nVALUES ?type {dbo:Museum}\nBIND( \"Museum\" as ?typeName )\n}\n\n{\n?thing a dbo:Place.\n?thing foaf:name ?name.\n?thing georss:point ?point.\n}\n\nfilter (BOUND (?type))\n\n}",
        "outputs": 1,
        "x": 1444.5,
        "y": 119,
        "wires": [
            [
                "a4d1257d.80023"
            ]
        ]
    },
    {
        "id": "f7b5ddfb.5c47e",
        "type": "sparql",
        "z": "8cc0225a.7a9ca",
        "name": "POI's for Node 2 using DBPedia",
        "prefix": "http://dbpedia.org/sparql",
        "func": "select ?thing ?type ?typeName ?name ?point where {\n\nVALUES ?city {<http://dbpedia.org/resource/Tampere>}\n\n?thing dbo:location ?city.\n\noptional \n{\n?thing a ?type .\nVALUES ?type {<http://dbpedia.org/ontology/Hotel>}\nBIND( \"Hotel\" as ?typeName )\n}\n\noptional\n{\n?thing a ?type.\nVALUES ?type {dbo:Museum}\nBIND( \"Museum\" as ?typeName )\n}\n\n{\n?thing a dbo:Place.\n?thing foaf:name ?name.\n?thing georss:point ?point.\n}\n\nfilter (BOUND (?type))\n\n}",
        "outputs": 1,
        "x": 1352,
        "y": 571,
        "wires": [
            [
                "cf6f88a5.52d1a"
            ]
        ]
    },
    {
        "id": "baa49c6d.ff7378",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "Check if Point Exists",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1420.5,
        "y": 168,
        "wires": [
            [
                "1108d6a9.2a7eb1"
            ]
        ]
    },
    {
        "id": "3078653e.79f69a",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "Check if Point Exists",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1325,
        "y": 518,
        "wires": [
            [
                "f7b5ddfb.5c47e"
            ]
        ]
    },
    {
        "id": "95597c21.0f59e8",
        "type": "debug",
        "z": "8cc0225a.7a9ca",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1806.5,
        "y": 211,
        "wires": []
    },
    {
        "id": "a4d1257d.80023",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "Processing Data for O-MI Node 1",
        "func": "itemsList = msg.payload \nlistForLandmarks = []\nCITY = \"Helsinki\"\n\n\nfor( i = 0 ; i < itemsList.length ; i++ )\n{\n    if( itemsList[i].typeName.value == \"Hotel\")\n        icon = \"fa-bed\";\n    else if(itemsList[i].typeName.value == \"Museum\" )\n        icon = \"fa-building\";\n        \n    lat = itemsList[i].point.value.split(' ')[0];\n    lon = itemsList[i].point.value.split(' ')[1]\n    \n    listForLandmarks.push({\"name\":itemsList[i].name.value.toString() , \"icon\": icon, \"lon\":lon , \"lat\":lat, \"layer\": \"ParkingSpaces\", \"type\": itemsList[i].typeName.value, \"city\": CITY  });\n}\n\nmsg.payload = listForLandmarks;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1464.5,
        "y": 73,
        "wires": [
            [
                "95597c21.0f59e8",
                "7bb48d5.964c1f4",
                "28271c4b.87ce6c"
            ]
        ]
    },
    {
        "id": "cf6f88a5.52d1a",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "Processing Data for O-MI Node 1",
        "func": "itemsList = msg.payload \nlistForLandmarks = []\nCITY = \"Tampere\"\n\n\nfor( i = 0 ; i < itemsList.length ; i++ )\n{\n    if( itemsList[i].typeName.value == \"Hotel\")\n        icon = \"fa-bed\";\n    else if(itemsList[i].typeName.value == \"Museum\" )\n        icon = \"fa-building\";\n        \n    lat = itemsList[i].point.value.split(' ')[0];\n    lon = itemsList[i].point.value.split(' ')[1]\n    \n    listForLandmarks.push({\"name\":itemsList[i].name.value.toString() , \"icon\": icon, \"lon\":lon , \"lat\":lat, \"layer\": \"ParkingSpaces\", \"city\": CITY, \"type\": itemsList[i].typeName.value  });\n}\n\nmsg.payload = listForLandmarks;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1359,
        "y": 622,
        "wires": [
            [
                "95597c21.0f59e8",
                "7bb48d5.964c1f4",
                "d97b38ca.6b9bb"
            ]
        ]
    },
    {
        "id": "e488584a.7c6838",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "searchRoadIssues",
        "func": "\nif(typeof msg.payload == \"string\")\n{\n    msg.payload = msg.payload;\n    msg.payload = { command:{search:msg.payload} };\n\n}else\n{\n    msg.payload = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1795,
        "y": 550,
        "wires": [
            [
                "7bb48d5.964c1f4"
            ]
        ]
    },
    {
        "id": "43798135.a2389",
        "type": "function",
        "z": "8cc0225a.7a9ca",
        "name": "searchRoadIssues",
        "func": "\nif(typeof msg.payload == \"string\")\n{\n    msg.payload = msg.payload;\n    msg.payload = { command:{search:msg.payload} };\n\n}else\n{\n    msg.payload = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1740,
        "y": 115,
        "wires": [
            [
                "7bb48d5.964c1f4"
            ]
        ]
    },
    {
        "id": "d97b38ca.6b9bb",
        "type": "ui_template",
        "z": "8cc0225a.7a9ca",
        "group": "48cb155e.212e3c",
        "name": "",
        "order": 0,
        "width": "16",
        "height": "11",
        "format": "<style>\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n</style>\n<style>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.4.1/css/all.css\" integrity=\"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz\" crossorigin=\"anonymous\">\n</style>\n\n<script>\n\n(function() {\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n             // Do something when msg arrives\n             scope.node = {\n              name : '',\n             };\n            }\n    \n        });\n     \n    })(scope);\n    \n})();\n</script>\n\n\n<form name=\"myForm\" >\n<h5>Selected Road ID: {{node.name}}</h5>\n<table>\n<thead>\n  <tr>\n    <th></th>\n    <th>Landmark Name</th>\n    <th>Landmark Type</th>\n    <th>Landmark City</th>\n  </tr>\n</thead>\n  <tr ng-repeat=\"obj in msg.payload track by $index\">\n    <td>\n    <input type=\"radio\" ng-model=\"node.name\" value=\"{{obj.name}}\"  name=\"data\"  ng-change=\"send({payload:node.name})\"></td>\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.type }}</td>\n    <td>{{ obj.city }}</td>\n  </tr>\n</table>\n </form>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1656.5,
        "y": 634,
        "wires": [
            [
                "e488584a.7c6838"
            ]
        ]
    },
    {
        "id": "28271c4b.87ce6c",
        "type": "ui_template",
        "z": "8cc0225a.7a9ca",
        "group": "543c35a5.b2a8ac",
        "name": "",
        "order": 1,
        "width": "16",
        "height": "11",
        "format": "<style>\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */\n</style>\n<style>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.4.1/css/all.css\" integrity=\"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz\" crossorigin=\"anonymous\">\n</style>\n\n<script>\n\n(function() {\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n             // Do something when msg arrives\n             scope.node = {\n              name : '',\n             };\n            }\n    \n        });\n     \n    })(scope);\n    \n})();\n</script>\n\n\n<form name=\"myForm\" >\n<h5>Selected Road ID: {{node.name}}</h5>\n<table>\n<thead>\n  <tr>\n    <th></th>\n    <th>Landmark Name</th>\n    <th>Landmark Type</th>\n    <th>Landmark City</th>\n  </tr>\n</thead>\n  <tr ng-repeat=\"obj in msg.payload track by $index\">\n    <td>\n    <input type=\"radio\" ng-model=\"node.name\" value=\"{{obj.name}}\"  name=\"data\"  ng-change=\"send({payload:node.name})\"></td>\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.type }}</td>\n    <td>{{ obj.city }}</td>\n  </tr>\n</table>\n </form>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1700.5,
        "y": 43,
        "wires": [
            [
                "43798135.a2389"
            ]
        ]
    },
    {
        "id": "d13e7fd8.8447",
        "type": "ui_group",
        "z": "",
        "name": "Parking Facilities and Charging Facilities on A WorldMap",
        "tab": "f88c4740.cfc708",
        "disp": true,
        "width": "32",
        "collapse": false
    },
    {
        "id": "48cb155e.212e3c",
        "type": "ui_group",
        "z": "",
        "name": "Points of Interest from Node 1",
        "tab": "f88c4740.cfc708",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "543c35a5.b2a8ac",
        "type": "ui_group",
        "z": "",
        "name": "Points of Interest from Node 2",
        "tab": "f88c4740.cfc708",
        "order": 3,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "f88c4740.cfc708",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Mobility Dashboard",
        "icon": "dashboard",
        "order": 4
    }
]
