flows/UIaaS_KnaaS_Interaction/5_Lyon_Heat_Wave_UIaaS
[
    {
        "id": "d2c89826.37611",
        "type": "tab",
        "label": "5_Lyon_Heat_Wave_UIaaS"
    },
    {
        "id": "149048c4.03c6c7",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "df1a299c.0bd7e8",
        "name": "WorldMap",
        "order": 2,
        "width": "32",
        "height": "12",
        "format": "<iframe src=\"http://127.0.0.1:1880/worldmap/\" height=\"658\" width=\"1482\">\n <p>Your browser does not support iframes.</p>\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1437.88330078125,
        "y": 158,
        "wires": [
            []
        ]
    },
    {
        "id": "912f8cfb.73ec2",
        "type": "omiNodeV9",
        "z": "d2c89826.37611",
        "name": "Read O-MI Node Lyon Heat Wave Mitigation",
        "path_InfoItem": "https://biotope-omi.alpha.grandlyon.com/Objects/Organization:Metropole-de-Lyon:v1-0-0",
        "token": "",
        "operations": "Read",
        "ttl": "40",
        "interval": "",
        "callback": "",
        "newest": "",
        "oldest": "",
        "begin": "",
        "end": "",
        "value": "",
        "reqID": "",
        "metadata": true,
        "readTypes": "read1time",
        "x": 513.8833312988281,
        "y": 225.88333129882812,
        "wires": [
            [
                "47cf0684.f892f"
            ]
        ]
    },
    {
        "id": "569729a7.132f78",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "OutputOMINodeLyon",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1162.88330078125,
        "y": 48.88330078125,
        "wires": []
    },
    {
        "id": "47cf0684.f892f",
        "type": "xml",
        "z": "d2c89826.37611",
        "name": "Lyon O-DF Structure to JSON",
        "attr": "",
        "chr": "",
        "x": 857.88330078125,
        "y": 177.88330078125,
        "wires": [
            [
                "c166327f.394db8",
                "a8aea53a.f7ea18",
                "4403513d.50cf58"
            ]
        ]
    },
    {
        "id": "add15fb7.580d58",
        "type": "inject",
        "z": "d2c89826.37611",
        "name": "Execute UIaaS Request Morning",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "x": 172,
        "y": 187.88333129882812,
        "wires": [
            [
                "912f8cfb.73ec2",
                "5c24ccdf.c6ecd4"
            ]
        ]
    },
    {
        "id": "a8aea53a.f7ea18",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "Extract Response O-MI Node Lyon HW",
        "func": "import time\nfrom bson import json_util, ObjectId\n\n#taking response value \n#Note in response first is longitude --> 0 and latitude -->1\nresponse = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"return\"][0][\"$\"][\"returnCode\"];\n\nnodeName = \"Lyon\"\nlstForGeo = []\nparsedGeoAndCorrespondingTemp = []\nlstForPOI = []\ntempList = []\n\nif response == \"200\":\n    node.log(\"Extract Response O-MI Node: Success in reading O-MI Node Contents\")\n \n    #getting the array of Objects with the Parking Facilities Data from Lyon\n    lyonHeatWaveInfoItem = msg[\"payload\"][\"omiEnvelope\"][\"response\"][0][\"result\"][0][\"msg\"][0][\"Objects\"][0][\"Object\"][0]\n    organizationID = lyonHeatWaveInfoItem[\"id\"][0]\n \n    for items in lyonHeatWaveInfoItem[\"Object\"]:\n        tempid = items[\"id\"][0]\n        if tempid == \"OrganizationalUnit:DINSI\":\n            templist = items[\"Object\"]\n            for objs in templist:\n                tempid2 = objs[\"id\"][0]\n                #lstForPOI = lstForPOI + objs[\"Object\"]\n                if tempid2 == \"Deployment:Sensing-Labs-IP68-Outdoor-Temperature-Sensor:I\" :\n                    lstForPOI = lstForPOI + objs[\"Object\"]\n                #elif tempid2 == \"Deployment:Sensing-Labs-IP68-Outdoor-Temperature-Sensor:II\" :\n                #   lstForPOI = lstForPOI + objs[\"Object\"]\n\n    #getting the Geo Coordinates ....\n    for geoloc in lstForPOI:\n        infoItem = geoloc[\"InfoItem\"]\n        ids = geoloc[\"id\"][0]\n        date = time.strftime(\"%Y/%m/%d\")\n        timeRecord =  time.strftime(\"%H:%M:%S\")\n        dayPart = time.strftime(\"%X\")\n   \n        if dayPart[:2] == \"19\":\n            dayPart = \"night\"\n        elif dayPart[:2] == \"08\":\n            dayPart = \"morning\"\n       \n        if ids[:6] == \"Sensor\": \n            objectItem = geoloc[\"Object\"]\n            longitude = 0\n            latitude = 0\n            resultTemp = 0\n   \n            #geo Coordinates get\n            for item in infoItem:\n                if item[\"$\"][\"name\"] == \"geo:long\":\n                    longitude = item[\"value\"][0][\"_\"]\n                elif item[\"$\"][\"name\"] == \"geo:lat\":\n                    latitude = item[\"value\"][0][\"_\"]\n    \n            #tempResult get\n            for items in objectItem:\n                if items[\"$\"][\"type\"] == \"sosa:Observation\":\n                    resultTemp = items[\"InfoItem\"][0][\"value\"][0][\"_\"]\n            lstForGeo.append({\"geo\":[longitude, latitude], \"temp\":resultTemp, \"date\":date, \"time\":dayPart})\n            parsedGeoAndCorrespondingTemp.append({ \"_id\":str(ObjectId()), \"lon\":float(longitude), \"lat\":float(latitude), \"temprature\":resultTemp, \"date\":date, \"time\": timeRecord, \"name\":ids, \"layer\":\"heatWave\"})\n       \nelse:\n node.error(\"Extract Response O-MI Node: Failure in reading O-MI Node Contents\")\n\nmsg[\"payload\"] = parsedGeoAndCorrespondingTemp\n#msg[\"payload\"] = lstForPOI\n\nreturn msg",
        "outputs": 1,
        "x": 861.61669921875,
        "y": 261.88330078125,
        "wires": [
            [
                "149048c4.03c6c7",
                "2bfe8650.377312",
                "c166327f.394db8",
                "c1c40fe7.85cd6",
                "3f97e21b.2c0f36",
                "b38412c7.16baa8",
                "54da1f35.ba151"
            ]
        ]
    },
    {
        "id": "de327ef9.ef024",
        "type": "inject",
        "z": "d2c89826.37611",
        "name": "Execute UIaaS Request Night",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 19 * * *",
        "once": false,
        "x": 163,
        "y": 236,
        "wires": [
            [
                "912f8cfb.73ec2",
                "5c24ccdf.c6ecd4",
                "705e8eea.6f7a58"
            ]
        ]
    },
    {
        "id": "5c24ccdf.c6ecd4",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "move and zoom",
        "func": "msg.payload = { command:{layer:\"Nat Geo\",lat:45.763484 ,lon:4.851277 ,zoom:10} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 418,
        "y": 335,
        "wires": [
            [
                "2bfe8650.377312"
            ]
        ]
    },
    {
        "id": "f960c410.5738f",
        "type": "inject",
        "z": "d2c89826.37611",
        "name": "Inject This First",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127,
        "y": 336,
        "wires": [
            [
                "5c24ccdf.c6ecd4"
            ]
        ]
    },
    {
        "id": "2bfe8650.377312",
        "type": "worldmap",
        "z": "d2c89826.37611",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "path": "",
        "x": 651,
        "y": 334,
        "wires": []
    },
    {
        "id": "2d27c36c.a9c564",
        "type": "ui_text",
        "z": "d2c89826.37611",
        "group": "df1a299c.0bd7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "HeatWAveLog",
        "label": "Heat Wave Situation",
        "format": "{{msg.heatwaveLog}}",
        "layout": "row-left",
        "x": 1708.5,
        "y": 426,
        "wires": []
    },
    {
        "id": "57bc664f.aa149",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "Warning Preprocessor",
        "func": "msg[\"payload\"] = msg[\"heatwaveLog\"]\n\nreturn msg",
        "outputs": 1,
        "x": 1351.5,
        "y": 425,
        "wires": [
            [
                "2d27c36c.a9c564",
                "30afe25e.af967e"
            ]
        ]
    },
    {
        "id": "c166327f.394db8",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1190,
        "y": 136,
        "wires": []
    },
    {
        "id": "c1c40fe7.85cd6",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "Store on MongoDB",
        "func": "# from modules.library import clean_netatmo_data2\nimport pymongo\nfrom pymongo import MongoClient\nfrom modules.library import insert_mongo\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nres = insert_mongo(db, collection, data, host)\n\nreturn msg  ",
        "outputs": 1,
        "x": 1163,
        "y": 92,
        "wires": [
            [
                "569729a7.132f78"
            ]
        ]
    },
    {
        "id": "3f97e21b.2c0f36",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "ReadFromMongo",
        "func": "import pymongo\nfrom pymongo import MongoClient\nfrom modules.library import read_mongo\nimport pandas as pd\n\ndata = msg['payload']\nhost = 'mongodb'\ndb = 'myDB'\ncollection = 'biotope'\nquery={}\nres = read_mongo(db, collection, query , host)\n\nabc = res.to_json(orient='records')\ncol = res.to_json(orient='columns')\n\nmsg['payload'] = abc\nreturn msg",
        "outputs": 1,
        "x": 756.5,
        "y": 431,
        "wires": [
            [
                "3c18aaad.17c176"
            ]
        ]
    },
    {
        "id": "894ede17.b0ee58",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 952,
        "y": 491,
        "wires": []
    },
    {
        "id": "3c18aaad.17c176",
        "type": "json",
        "z": "d2c89826.37611",
        "name": "",
        "x": 716.5,
        "y": 492,
        "wires": [
            [
                "4489011a.fd64e",
                "894ede17.b0ee58"
            ]
        ]
    },
    {
        "id": "404f39c8.e10b98",
        "type": "comment",
        "z": "d2c89826.37611",
        "name": "Reading From an O-MI Node two times per day",
        "info": "",
        "x": 213,
        "y": 136,
        "wires": []
    },
    {
        "id": "acbc1c43.83f348",
        "type": "sparql",
        "z": "d2c89826.37611",
        "name": "Open Area For Sensor Installation 1",
        "prefix": "http://dbpedia.org/sparql",
        "func": "select DISTINCT * where {\n\nVALUES ?city {<http://dbpedia.org/resource/Parc_de_Gerland>}\n\n\n?city rdfs:label ?name .\n?city dbo:abstract ?abstract .\n?city rdfs:comment ?comment .\n\nFILTER((LANG(?name) = \"\" || LANGMATCHES(LANG(?name), \"en\")) and (LANG(?abstract) = \"\" || LANGMATCHES(LANG(?abstract), \"en\")) and (LANG(?comment) = \"\" || LANGMATCHES(LANG(?comment), \"en\")))\n}",
        "outputs": 1,
        "x": 1395.5,
        "y": 684,
        "wires": [
            [
                "6be794d8.ea5304"
            ]
        ]
    },
    {
        "id": "8d58bd5f.b2ad98",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "3913cb31.bfecbc",
        "name": "Table for Displaying List of Sensors",
        "order": 0,
        "width": "11",
        "height": "11",
        "format": "<style>\ntable {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #616161;\n    /* Darken header a bit */\n    font-weight: bold;\n    color:white;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\ntr {\n    min-height: 120px;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #fafafa;\n}\n\na {\n    }\n    a:hover {\n        color:#2AB672 ;\n    }\n\n/* Hover cell effect! */\n</style>\n<style>\n    <link rel=\"stylesheet\" href=\"https://use.fontawesome.com/releases/v5.4.1/css/all.css\" integrity=\"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz\" crossorigin=\"anonymous\">\n</style>\n\n<script>\n\n(function() {\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n             // Do something when msg arrives\n             scope.node = {\n              name : msg.default,\n             };\n            }\n    \n        });\n     \n    })(scope);\n    \n})();\n\n\n\n\n</script>\n\n\n<form name=\"myForm\" >\n<!-- <h5>Selected Sensor ID: {{node.name}}</h5> -->\n<table>\n<thead>\n  <tr>\n    <th></th>\n    <th><a ng-click=\"send({payload:['sort','name', msg.payload, node.name ]})\">{{msg.name ? 'Name &#8593;' : 'Name &darr;' }}</a></th>\n    <th><a ng-click=\"send({payload:['sort','avgDay', msg.payload, node.name ]})\">{{msg.dT ? 'Average Temperature Day °C &#8593;' : 'Average Temperature Day °C &darr;' }}</a></th>\n    <th><a ng-click=\"send({payload:['sort','avgNight', msg.payload, node.name]})\">{{msg.nT ? 'Average Temperature Night °C &#8593;' : 'Average Temperature Night °C &darr;' }}</a></th>\n  </tr>\n</thead>\n  <tr ng-repeat=\"obj in msg.payload track by $index\">\n    <td>\n    <input type=\"radio\" ng-model=\"node.name\" value=\"{{obj.name}}\"  name=\"data\"  ng-change=\"send({payload:obj.name})\"></td>\n    <td>{{ obj.name }}</td>\n    <td>{{ obj.avgDay }}</td>\n    <td>{{ obj.avgNight }}</td>\n  </tr>\n</table>\n </form>\n\n\n\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1756.5,
        "y": 366,
        "wires": [
            [
                "4f9cafba.4134f",
                "57133f6d.634188"
            ]
        ]
    },
    {
        "id": "812681e1.5a05c",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "8c5f19c2.163c88",
        "name": "Lyon Available Areas for Sensor Installations",
        "order": 0,
        "width": "10",
        "height": "11",
        "format": "<script>\n\n(function() {\n    \n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n             // Do something when msg arrives\n             scope.node = {\n             };\n            }\n    \n        });\n     \n    })(scope);\n    \n})();\n\n\n</script>\n<div>\n<h2>{{msg.payload[0].name.value}}</h2><br />\n<p>{{msg.payload[0].abstract.value}}</p><br />\n<p><b>Comment:</b>{{msg.payload[0].comment.value}}</p><br /><br />\n<div style=\"text-align:right;\">\n    <md-button style=\"margin-top:17px;\" class=\"fav-btn\" ng-click=\"send({payload:[msg.payload[0].name.value, 'previous' ]})\"><i class=\"fa fa-chevron-left\" aria-hidden=\"true\"></i></md-button>\n    <md-button class=\"fav-btn\" ng-click=\"send({payload:[msg.payload[0].name.value, 'next' ]})\"><i class=\"fa fa-chevron-right\" aria-hidden=\"true\"></i></md-button>\n</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2115.5,
        "y": 950,
        "wires": [
            [
                "430d5a18.ed10b4",
                "52921599.89f0b4"
            ]
        ]
    },
    {
        "id": "4489011a.fd64e",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "Processing Data",
        "func": "from datetime import datetime, timedelta\nfrom dateutil.parser import parse\n\nday1 = [{\"series\": [\"D\"], \"data\": [], \"labels\": [\"D\"] }]\nday1[0][\"data\"].append([])\nday2 = [{\"series\": [\"D\"], \"data\": [], \"labels\": [\"D\"] }]\nday2[0][\"data\"].append([])\nday3 = [{\"series\": [\"D\"], \"data\": [], \"labels\": [\"D\"] }]\nday3[0][\"data\"].append([])\naggregatedResults = []\n\nday1ForList = [ ]\nday2ForList = [ ]\nday3ForList = [ ]\n\nN1 = 1\nN2 = 2\n\ndate_N1_days_ago = datetime.now() - timedelta(days=N1)\ndate_N2_days_ago = datetime.now() - timedelta(days=N2)\ndate_today = datetime.now()\n\nd1 = datetime.now().strftime(\"%Y/%m/%d \");\nd2 = (datetime.now() - timedelta(days=N1)).strftime(\"%Y/%m/%d \");\nd3 = (datetime.now() - timedelta(days=N2)).strftime(\"%Y/%m/%d \");\n\nparsedd1 = parse(d1)\nparsedd2 = parse(d2)\nparsedd3 = parse(d3)\n\n\nfor items in msg[\"payload\"] :\n    parsedMongo = parse(items[\"date\"])\n\n    if  parsedd1 == parsedMongo :\n        day1[0][\"data\"][0].append({\"x\":float(items[\"time\"][:2]) , \"y\":float(items[\"temprature\"]) , \"r\":2 })\n        day1ForList.append(items)\n    elif parsedd2 == parsedMongo :\n        day2[0][\"data\"][0].append({\"x\":float(items[\"time\"][:2]) , \"y\":float(items[\"temprature\"]) , \"r\":2 })\n        day2ForList.append(items)\n    elif parsedd3 == parsedMongo :\n        day3[0][\"data\"][0].append({\"x\":float(items[\"time\"][:2]) , \"y\":float(items[\"temprature\"]) , \"r\":2 })\n        day3ForList.append(items)\n\nmsg[\"aggregatedDay\"] = aggregatedResults\nmsg[\"day1\"] = day1\nmsg[\"day2\"] = day2\nmsg[\"day3\"] = day3\nmsg[\"day1ForList\"] = day1ForList\nmsg[\"day2ForList\"] = day2ForList\nmsg[\"day3ForList\"] = day3ForList\n\n\n\nreturn msg",
        "outputs": 1,
        "x": 739,
        "y": 555,
        "wires": [
            [
                "8322c58f.7b23a8",
                "f2a525de.80f08",
                "97e04e32.abe37",
                "cd993588.417b1",
                "354bd184.f0b4c6",
                "acbc1c43.83f348",
                "40a56ca1.f49574",
                "ef9657f3.343508"
            ]
        ]
    },
    {
        "id": "d61ff48f.6a81a8",
        "type": "comment",
        "z": "d2c89826.37611",
        "name": "Custom Spliting Methods For UI Widgets",
        "info": "",
        "x": 1395.5,
        "y": 317,
        "wires": []
    },
    {
        "id": "211adcc5.6c3284",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "a9e654c4.3ec8a8",
        "name": "Today's Record",
        "order": 0,
        "width": "11",
        "height": "11",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2006,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "48f06ee.66eb69",
        "type": "template",
        "z": "d2c89826.37611",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"bubble-chart\" width=\"1\" height=\"1\" ></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"Time\",\n          backgroundColor: \"rgba(90, 97, 225, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        }\n      ]\n    },\n    options: {\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 99, 132)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}'\n      }, scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"yAxes - Temperature (°C)\"\n          }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"xAxes - Time (Hours)\"\n          }\n        }]\n      }\n    }\n});\n\n</script>\n",
        "x": 1764,
        "y": 580,
        "wires": [
            [
                "211adcc5.6c3284"
            ]
        ]
    },
    {
        "id": "8322c58f.7b23a8",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Data for Day 1",
        "func": "objectsList = []\nobjectsList = msg[\"day1\"][0][\"data\"][0]\nvar data1 = ''\n\nfor( i = 0 ; i <objectsList.length ; i++  )\n{\n    data1 += \"{x: \"+ objectsList[i].x +\", y: \"+ objectsList[i].y +\", r: \"+ 2 +\"},\";\n}\n\ntitle = 'Time(H) against Temperature(°C) Record for Today';\nlegend1 = \"Legend\";\n\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1333.5,
        "y": 581,
        "wires": [
            [
                "48f06ee.66eb69"
            ]
        ]
    },
    {
        "id": "f2a525de.80f08",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Data For Day 2",
        "func": "objectsList = []\nobjectsList = msg[\"day2\"][0][\"data\"][0]\nvar data1 = ''\n\nfor( i = 0 ; i <objectsList.length ; i++  )\n    data1 += \"{x: \"+ objectsList[i].x +\", y: \"+ objectsList[i].y +\", r: \"+ 2 +\"},\";\n\ntitle = 'Time(H) against Temperature(°C) Record for Yesterday';\nlegend1 = \"Legend\";\n\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n    \n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1329.5,
        "y": 533,
        "wires": [
            [
                "b4627a51.ba9258"
            ]
        ]
    },
    {
        "id": "97e04e32.abe37",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Data for Day 3",
        "func": "objectsList = []\nobjectsList = msg[\"day3\"][0][\"data\"][0]\nvar data1 = ''\n\nfor( i = 0 ; i <objectsList.length ; i++  )\n    data1 += \"{x: \"+ objectsList[i].x +\", y: \"+ objectsList[i].y +\", r: \"+ 2 +\"},\";\n\ntitle = 'Time(H) against Temperature(°C) Record for Day Before Yesterday';\nlegend1 = \"Legend\";\n\n\n// Now we build msg.payload\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n    \n};\n\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1328.5,
        "y": 485,
        "wires": [
            [
                "23b96d3e.869dba"
            ]
        ]
    },
    {
        "id": "b4627a51.ba9258",
        "type": "template",
        "z": "d2c89826.37611",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"bubble-chart2\" width=\"1\" height=\"1\" ></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart2\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"Time\",\n          backgroundColor: \"rgba(114, 206, 109, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        }\n      ]\n    },\n    options: {\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 99, 132)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}'\n      }, scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"yAxes - Temperature (°C)\"\n          }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"xAxes - Time (Hours)\"\n          }\n        }]\n      }\n    }\n});\n\n</script>\n",
        "x": 1761,
        "y": 532,
        "wires": [
            [
                "890e0bae.a99d38"
            ]
        ]
    },
    {
        "id": "23b96d3e.869dba",
        "type": "template",
        "z": "d2c89826.37611",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"bubble-chart3\" width=\"1\" height=\"1\" ></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart3\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"Time\",\n          backgroundColor: \"rgba(154, 119, 196, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        }\n      ]\n    },\n    options: {\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 99, 132)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}'\n      }, scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"yAxes - Temperature (°C)\"\n          }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"xAxes - Time (Hours)\"\n          }\n        }]\n      }\n    }\n});\n\n</script>\n",
        "x": 1761,
        "y": 485,
        "wires": [
            [
                "6e58363.7516c48"
            ]
        ]
    },
    {
        "id": "890e0bae.a99d38",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "1e0c218.134badf",
        "name": "Yesterday's Record",
        "order": 2,
        "width": "10",
        "height": "11",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2012.5,
        "y": 532,
        "wires": [
            []
        ]
    },
    {
        "id": "6e58363.7516c48",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "fb5bcc03.bb14d",
        "name": "Day Before Yesterday's Record",
        "order": 2,
        "width": "11",
        "height": "11",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2049.5,
        "y": 485,
        "wires": [
            []
        ]
    },
    {
        "id": "56378a81.d5b04c",
        "type": "template",
        "z": "d2c89826.37611",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"bubble-chart4\" width=\"1\" height=\"1\" ></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart4\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"d\",\n          backgroundColor: \"rgba(90, 97, 225, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data1}}}\n\n          ]\n        },\n        {\n          label: \"d2\",\n          backgroundColor: \"rgba(114, 206, 109, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data2}}}\n\n          ]\n        },\n        {\n          label: \"d3\",\n          backgroundColor: \"rgba(154, 119, 196, 1.0000)\",\n          borderColor: \"#000\",\n          data: [\n            {{{payload.data3}}}\n\n          ]\n        },\n      ]\n    },\n    options: {\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 99, 132)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}'\n      }, scales: {\n        yAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"yAxes - Temperature (°C)\"\n          }\n        }],\n        xAxes: [{ \n          scaleLabel: {\n            display: true,\n            labelString: \"xAxes - Time (Hours)\"\n          }\n        }]\n      }\n    }\n});\n\n</script>\n",
        "x": 1763,
        "y": 631,
        "wires": [
            [
                "62547008.7aa6"
            ]
        ]
    },
    {
        "id": "62547008.7aa6",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "543d7c8.331d104",
        "name": "Aggregated View",
        "order": 1,
        "width": "11",
        "height": "11",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2018.5,
        "y": 630,
        "wires": [
            []
        ]
    },
    {
        "id": "cd993588.417b1",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "3 Days Aggregated Record",
        "func": "\nN1 = 1\nN2 = 2\n\n\nvar data1 = ''\nvar data2 = ''\nvar data3 = ''\n\nobjectsList1 = msg[\"day1\"][0][\"data\"][0]\nobjectsList2 = msg[\"day2\"][0][\"data\"][0]\nobjectsList3 = msg[\"day3\"][0][\"data\"][0]\n\nlegend1 = \"Today\"\nlegend2 = \"Yesterday\"\nlegend3 = \"Day Before Yesterday\"\n\nd1 = \"Today\"\nd2 = \"Yesterday\"\nd3 = \"Day Before Yesterday\"\n\nfunction getListForDisplay(objectsList)\n{\n    var data = ''\n\n    for( i = 0 ; i <objectsList.length ; i++  )\n        data += \"{x: \"+ objectsList[i].x +\", y: \"+ objectsList[i].y +\", r: \"+ 2 +\"},\";\n    \n    return data;\n}\n\n\ndata1 = getListForDisplay(objectsList1)\ndata2 = getListForDisplay(objectsList2)\ndata3 = getListForDisplay(objectsList3)\n\ntitle = \"Three Days Aggregated Temperature vs Days Record\"\n\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"data1\"   : data1,\n                \"dateToday\" : d1,\n                \"legend2\" : legend2,\n                \"data2\"   : data2,\n                \"dateYesterday\" : d2,\n                \"legend3\" : legend3,\n                \"data3\"   : data3,\n                \"dateDayBefore\" : d3\n                \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1373.5,
        "y": 631,
        "wires": [
            [
                "56378a81.d5b04c"
            ]
        ]
    },
    {
        "id": "4f9cafba.4134f",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "searchRoadIssues",
        "func": "\nif(typeof msg.payload == \"string\")\n{\n    msg.payload = msg.payload;\n    msg.payload = { command:{search:msg.payload} };\n\n}else\n{\n    msg.payload = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1726,
        "y": 321,
        "wires": [
            [
                "2bfe8650.377312"
            ]
        ]
    },
    {
        "id": "20f4adf6.0d23f2",
        "type": "join",
        "z": "d2c89826.37611",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "timeout": "",
        "count": "2",
        "x": 1129.5,
        "y": 664,
        "wires": [
            [
                "3eac9062.d79a7"
            ]
        ]
    },
    {
        "id": "b38412c7.16baa8",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1223.5,
        "y": 259,
        "wires": []
    },
    {
        "id": "8c93a8e5.9ed0c",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Adding node-name to JSON From Mongo",
        "func": "msg.payload = {\"name\":\"Mongo\" ,  \"list\":msg.payload }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820.5,
        "y": 667,
        "wires": [
            [
                "20f4adf6.0d23f2"
            ]
        ]
    },
    {
        "id": "54da1f35.ba151",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Adding node-name to JSON From O-MI",
        "func": "msg.payload = {\"name\":\"OMI\",  \"list\":msg.payload }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 812.5,
        "y": 712,
        "wires": [
            [
                "20f4adf6.0d23f2"
            ]
        ]
    },
    {
        "id": "354bd184.f0b4c6",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Aggregating Payload For 3 Days MongoDB Result",
        "func": "msg.payload = {\"day1\": msg.day1ForList , \"day2\": msg.day2ForList , \"day3\": msg.day3ForList } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 843.5,
        "y": 626,
        "wires": [
            [
                "8c93a8e5.9ed0c"
            ]
        ]
    },
    {
        "id": "b763efac.4149d",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1643.5,
        "y": 224,
        "wires": []
    },
    {
        "id": "3eac9062.d79a7",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "List of Temperature Sensors",
        "func": "sumationDay = 0.0 ;\nsummationNight = 0.0 ;\ncurerntHour = '' ;\ncountDay = 0 ;\ncountNight = 0 ;\n\nresultFromMongo = null ; \n\nfunction maxTemparature( temparatureList, day )\n{\n    temp = 0 ;\n    node.log(day);\n    \n    for( i = 0 ; i < temparatureList.length ; i ++ )\n    {\n        if( temparatureList[i].temprature > temp )\n            temp = temparatureList[i].temprature ;\n            \n    }\n            \n    return temp ;\n}\n\nfunction heatWaveAnalysis(t1, t2, t3 )\n{\n    sum = t1 + t2 + t3 ;\n    avg = sum / 3 ;\n    \n    if ( avg > 25.0 )\n        return \"There is a Heat Wave Danger in Lyon\";\n    else\n        return \"Currently there is no Heat Wave Danger in Lyon\";\n}\n\nfor( i= 0 ; i < msg.payload.length ; i++ )\n{\n    if( msg.payload[i].name == \"OMI\" )\n    {\n        objectList = msg.payload[i].list;\n    }\n    if( msg.payload[i].name == \"Mongo\" )\n    {\n        resultFromMongo = msg.payload[i].list;\n    }\n        \n}\n\nfor( x = 0 ; x < objectList.length ; x++ )\n{\n    for( y = 0 ; y < resultFromMongo[\"day1\"].length && resultFromMongo[\"day1\"] != undefined ; y++  )\n    {   \n        if( objectList[x].name == resultFromMongo[\"day1\"][y].name )\n        {\n            if ( resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 13 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 14 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 15 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 16 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 17 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 06 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 07 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 08 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 09 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 10 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 11 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 12 )\n            {\n                summationNight += parseFloat(resultFromMongo[\"day1\"][y][\"temprature\"])\n                countNight = countNight + 1                \n            }\n            if( resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 01 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 02 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 03 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 04 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 05 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 18 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 19 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 20 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 21 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 22 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 23 || resultFromMongo[\"day1\"][y][\"time\"].split(\":\")[0] == 24 )\n            {\n                sumationDay += parseFloat(resultFromMongo[\"day1\"][y][\"temprature\"])\n                countDay = countDay + 1\n            }\n        }\n    }\n    node.log(summationNight);\n    node.log(countNight);\n    \n    for( y = 0 ; y < resultFromMongo[\"day2\"].length && resultFromMongo[\"day2\"] != undefined  ; y++  )\n    {   \n        if( objectList[x].name == resultFromMongo[\"day2\"][y].name )\n        {\n            if ( resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 13 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 14 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 15 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 16 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 17 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 06 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 07 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 08 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 09 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 10 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 11 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 12 )\n            {\n                summationNight += parseFloat(resultFromMongo[\"day2\"][y][\"temprature\"])\n                countNight = countNight + 1                \n            }\n            if( resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 01 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 02 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 03 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 04 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 05 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 18 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 19 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 20 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 21 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 22 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 23 || resultFromMongo[\"day2\"][y][\"time\"].split(\":\")[0] == 24 )\n            {\n                sumationDay += parseFloat(resultFromMongo[\"day2\"][y][\"temprature\"])\n                countDay = countDay + 1\n            }\n        }\n    }\n    \n    for( y = 0 ; y < resultFromMongo[\"day3\"].length && resultFromMongo[\"day3\"].length != undefined ; y++  )\n    {   \n        if( objectList[x].name == resultFromMongo[\"day3\"][y].name )\n        {\n            if ( resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 13 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 14 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 15 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 16 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 17 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 06 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 07 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 08 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 09 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 10 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 11 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 12 )\n            {\n                summationNight += parseFloat(resultFromMongo[\"day3\"][y][\"temprature\"])\n                countNight = countNight + 1                \n            }\n            if( resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 01 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 02 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 03 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 04 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 05 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 18 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 19 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 20 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 21 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 22 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 23 || resultFromMongo[\"day3\"][y][\"time\"].split(\":\")[0] == 24 )\n            {\n                sumationDay += parseFloat(resultFromMongo[\"day3\"][y][\"temprature\"])\n                countDay = countDay + 1\n            }\n        }\n    }\n    \n    objectList[x][\"avgNight\"] = (summationNight/countNight).toFixed(2)\n    objectList[x][\"avgDay\"] = (sumationDay/countDay).toFixed(2)\n    \n    if( objectList[x][\"avgDay\"] == null || objectList[x][\"avgDay\"] == 0 || objectList[x][\"avgDay\"] == NaN ||  objectList[x][\"avgDay\"] == \"NaN\" )\n        objectList[x][\"avgDay\"] = \"N/A\";\n    \n    if( objectList[x][\"avgNight\"] == null || objectList[x][\"avgNight\"] == 0 || objectList[x][\"avgNight\"] == NaN || objectList[x][\"avgNight\"] == \"NaN\" )\n        objectList[x][\"avgNight\"] = \"N/A\";\n            \n    summationNight = sumationDay = countNight = countDay = 0.0\n}\n\nd1T = maxTemparature(resultFromMongo[\"day1\"], \"day1\") ;\nd2T = maxTemparature(resultFromMongo[\"day2\"], \"day2\") ;\nd3T = maxTemparature(resultFromMongo[\"day3\"], \"day3\") ;\n\n\nmsg.payload = objectList ;\nmsg.heatwaveLog =  heatWaveAnalysis( d1T, d2T, d3T ) ;\n\nmsg.name = true ;\nmsg.dT = true ;\nmsg.nT = true ;\n\nflow.set('name','True');\nflow.set('dT','True');\nflow.set('nT', 'True');\n\nmsg.default = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1364.5,
        "y": 364,
        "wires": [
            [
                "b763efac.4149d",
                "8d58bd5f.b2ad98",
                "57bc664f.aa149"
            ]
        ]
    },
    {
        "id": "30afe25e.af967e",
        "type": "ui_toast",
        "z": "d2c89826.37611",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Heatwave Alert",
        "name": "Heatwave Alert",
        "x": 1906.5,
        "y": 425,
        "wires": []
    },
    {
        "id": "430d5a18.ed10b4",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Current Area",
        "func": "if( msg.payload[0] == \"Parc de Gerland\" && msg.payload[1] == \"next\" )\n{   \n    msg.area = 2 ;\n    return msg;\n}\n\nif( msg.payload[0] == \"Parc Saint-Clair\" && msg.payload[1] == \"next\" )\n{    \n    msg.area = 3 ;\n    return msg;\n}\n\nif( msg.payload[0] == \"Parc de la Cerisaie\" && msg.payload[1] == \"next\" )\n{    \n    msg.area = 1 ;\n    return msg;\n}\n\nif( msg.payload[0] == \"Parc de Gerland\" && msg.payload[1] == \"previous\" )\n{    \n    msg.area = 3 ;\n    return msg;\n}\n\nif( msg.payload[0] == \"Parc Saint-Clair\" && msg.payload[1] == \"previous\" )\n{    \n    msg.area = 1 ;\n    return msg;\n}\n\nif( msg.payload[0] == \"Parc de la Cerisaie\" && msg.payload[1] == \"previous\" )    \n{    msg.area = 2 ;\n    return msg;\n}\n\nreturn null\n    \n",
        "outputs": 1,
        "noerr": 0,
        "x": 2373.5,
        "y": 684,
        "wires": [
            [
                "4cb7e6b4.88fd6",
                "4e5f2c64.8ca6f4",
                "9aa7ed0b.c487a8"
            ]
        ]
    },
    {
        "id": "40a56ca1.f49574",
        "type": "sparql",
        "z": "d2c89826.37611",
        "name": "Open Area For Sensor Installation 2",
        "prefix": "http://dbpedia.org/sparql",
        "func": "select DISTINCT * where {\n\nVALUES ?city {<http://dbpedia.org/resource/Parc_Saint-Clair>}\n\n\n?city rdfs:label ?name .\n?city dbo:abstract ?abstract .\n?city rdfs:comment ?comment .\n\nFILTER((LANG(?name) = \"\" || LANGMATCHES(LANG(?name), \"en\")) and (LANG(?abstract) = \"\" || LANGMATCHES(LANG(?abstract), \"en\")) and (LANG(?comment) = \"\" || LANGMATCHES(LANG(?comment), \"en\")))\n}",
        "outputs": 1,
        "x": 1400,
        "y": 732,
        "wires": [
            [
                "cb6a84f8.e14c1"
            ]
        ]
    },
    {
        "id": "ef9657f3.343508",
        "type": "sparql",
        "z": "d2c89826.37611",
        "name": "Open Area For Sensor Installation 3",
        "prefix": "http://dbpedia.org/sparql",
        "func": "select DISTINCT * where {\n\nVALUES ?city {<http://dbpedia.org/resource/Parc_de_la_Cerisaie>}\n\n\n?city rdfs:label ?name .\n?city dbo:abstract ?abstract .\n?city rdfs:comment ?comment .\n\nFILTER((LANG(?name) = \"\" || LANGMATCHES(LANG(?name), \"en\")) and (LANG(?abstract) = \"\" || LANGMATCHES(LANG(?abstract), \"en\")) and (LANG(?comment) = \"\" || LANGMATCHES(LANG(?comment), \"en\")))\n}",
        "outputs": 1,
        "x": 1399,
        "y": 781,
        "wires": [
            [
                "8c2e16a8.86d8"
            ]
        ]
    },
    {
        "id": "8101ff79.0c9b08",
        "type": "ui_template",
        "z": "d2c89826.37611",
        "group": "8aea1f6.5c619e",
        "name": "Footer",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n\n</div>\n<div layout=\"row\">\n  <div flex>\n        <div style=\"text-align:left;\">\n            <img src=\"https://st1.ning.com/topology/rest/1.0/file/get/1064781?profile=RESIZE_180x180\" alt=\"Fraunhofer IAIS\" style=\"object-fit:contain; width:160px; height:80px; align:right; \" />\n        </div>   \n  </div>\n  <div flex>\n    <div style=\"text-align:center;\">\n        <img src=\"https://st1.ning.com/topology/rest/1.0/file/get/8822449?profile=original&xn_version=201901290618\" width=\"160px\" height=\"80px\" style=\"object-fit:contain;   border-radius: 25px;\">\n    </div>\n  </div>\n  <div flex>\n    <div style=\"text-align:right;\">\n        <img src=\"https://www.grandlyon.com/typo3conf/ext/gl_metropole_template/Resources/Public/Images/Content/logo-grand-lyon-la-metropole.png\" alt=\"Grand Lyon\" style=\"object-fit:contain; width:160px; height:80px; align:right; \" />\n    </div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1416.5,
        "y": 66,
        "wires": [
            []
        ]
    },
    {
        "id": "9aa7ed0b.c487a8",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Area 3",
        "func": "if( msg.area == 3)\n{\n    msg.payload = flow.get(\"Area3\");\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2547,
        "y": 785,
        "wires": [
            [
                "98760636.9555",
                "812681e1.5a05c"
            ]
        ]
    },
    {
        "id": "4e5f2c64.8ca6f4",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Area 2",
        "func": "if( msg.area == 2)\n{\n    msg.payload = flow.get(\"Area2\");\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 2543,
        "y": 737,
        "wires": [
            [
                "d0dda33c.61b0d",
                "812681e1.5a05c"
            ]
        ]
    },
    {
        "id": "4cb7e6b4.88fd6",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Area1",
        "func": "if( msg.area == 1)\n{\n    msg.payload = flow.get(\"Area1\");\n    return msg;\n}\n    \nreturn null;",
        "outputs": "1",
        "noerr": 0,
        "x": 2537,
        "y": 687,
        "wires": [
            [
                "5702c108.8aa788",
                "812681e1.5a05c"
            ]
        ]
    },
    {
        "id": "4403513d.50cf58",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 781.5,
        "y": 77,
        "wires": []
    },
    {
        "id": "96470b99.82bc38",
        "type": "python3-function",
        "z": "d2c89826.37611",
        "name": "Sort By Name, Average Temparature Day or Night",
        "func": "if msg['payload'][0] == \"sort\" and msg[\"payload\"][1] == \"name\" :\n    if msg[\"name\"] : \n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['name'], reverse=True)\n        msg[\"name\"] = False\n    else :\n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['name'])\n        msg[\"name\"] = True\n    \n    msg['payload'] = sortedList\n    return msg\n\nif msg['payload'][0] == \"sort\" and msg[\"payload\"][1] == \"avgDay\" :\n    if msg[\"dT\"]: \n        msg[\"dT\"] = False\n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['avgDay'], reverse=True) \n    else :\n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['avgDay']) \n        msg[\"dT\"] = True\n        \n    msg['payload'] = sortedList\n    return msg\n\nif msg['payload'][0] == \"sort\" and msg[\"payload\"][1] == \"avgNight\" :\n    if msg[\"nT\"]: \n        msg[\"nT\"] = False\n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['avgNight'], reverse=True) \n    else:\n        msg[\"nT\"] = True\n        sortedList =  sorted(msg['payload'][2], key=lambda k: k['avgNight']) \n    \n    msg['payload'] = sortedList\n    return msg\n\n\nreturn None  \n",
        "outputs": 1,
        "x": 2508.5,
        "y": 364,
        "wires": [
            [
                "b26d5f11.22b3d8",
                "8d58bd5f.b2ad98"
            ]
        ]
    },
    {
        "id": "b26d5f11.22b3d8",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2810.5,
        "y": 300,
        "wires": []
    },
    {
        "id": "705e8eea.6f7a58",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Flow Context Variables For Sorting",
        "func": "flow.set('name','nil');\nflow.set('dT','nil');\nflow.set('nT', 'nil');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471,
        "y": 489,
        "wires": [
            []
        ]
    },
    {
        "id": "57133f6d.634188",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Processing Funtction for ASC/DESC",
        "func": "if( msg.payload[1] == \"name\" && ( flow.get('name') == \"nil\" || flow.get('name') == \"True\" ) )\n{\n    msg.name = true ;\n    msg.dT = true ;\n    msg.nT = true ;\n\n    flow.set('dT','True');\n    flow.set('nT', 'True');\n    flow.set('name','False');\n    \n\n}else if( msg.payload[1] == \"name\" && flow.get('name') == \"False\" ) \n{\n    msg.name = false ;\n    msg.dT = true ;\n    msg.nT = true ;\n\n    flow.set('dT','True');\n    flow.set('nT', 'True');\n\n    flow.set('name','True');\n\n}else if ( msg.payload[1] == \"avgDay\"  && ( flow.get('dT') == \"nil\" || flow.get('dT') == \"True\" ) )\n{\n    msg.dT = true ;\n    msg.name = true ;\n    msg.nT = true ;\n\n    flow.set('name','True');\n    flow.set('nT', 'True');\n    flow.set('dT','False');\n    \n}else if( msg.payload[1] == \"avgDay\"  && flow.get('dT') == \"False\"  )\n{\n    msg.name = true ;\n    msg.nT = true ;\n\n    flow.set('name','True');\n    flow.set('nT', 'True');\n \n    msg.dT = false ;\n    flow.set('dT','True');\n    \n}else if ( msg.payload[1] == \"avgNight\" &&  ( flow.get('nT') == \"nil\" || flow.get('nT') == \"True\" ) )\n{\n    msg.name = true ;\n    msg.dT = true ;\n\n    flow.set('name','True');\n    flow.set('dT', 'True');\n \n    msg.nT = true ;\n    flow.set('nT','False');\n    \n}else if( msg.payload[1] == \"avgNight\" &&  flow.get('nT') == \"False\"  )\n{\n    msg.name = true ;\n    msg.dT = true ;\n\n    flow.set('name','True');\n    flow.set('dT', 'True');\n \n    msg.nT = false ;\n    flow.set('nT','True');\n}\n\nmsg.default = msg.payload[3];\n   \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2092,
        "y": 366,
        "wires": [
            [
                "96470b99.82bc38",
                "601bd4ba.96328c"
            ]
        ]
    },
    {
        "id": "601bd4ba.96328c",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 2402.5,
        "y": 225,
        "wires": []
    },
    {
        "id": "52921599.89f0b4",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2372.5,
        "y": 577,
        "wires": []
    },
    {
        "id": "5702c108.8aa788",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2737.5,
        "y": 689,
        "wires": []
    },
    {
        "id": "d0dda33c.61b0d",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2742.5,
        "y": 741,
        "wires": []
    },
    {
        "id": "98760636.9555",
        "type": "debug",
        "z": "d2c89826.37611",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2742.5,
        "y": 798,
        "wires": []
    },
    {
        "id": "6be794d8.ea5304",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Flow SetContext SPARQL1",
        "func": "flow.set(\"Area1\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1753.5,
        "y": 683,
        "wires": [
            [
                "52921599.89f0b4",
                "812681e1.5a05c"
            ]
        ]
    },
    {
        "id": "cb6a84f8.e14c1",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Flow SetContext SPARQL2",
        "func": "flow.set(\"Area2\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1751,
        "y": 733,
        "wires": [
            []
        ]
    },
    {
        "id": "8c2e16a8.86d8",
        "type": "function",
        "z": "d2c89826.37611",
        "name": "Flow SetContext SPARQL3",
        "func": "flow.set(\"Area3\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1751,
        "y": 781,
        "wires": [
            []
        ]
    },
    {
        "id": "df1a299c.0bd7e8",
        "type": "ui_group",
        "z": "",
        "name": "Marked Temperature Sensors in Lyon",
        "tab": "22e89941.424c8e",
        "order": 4,
        "disp": true,
        "width": "32",
        "collapse": false
    },
    {
        "id": "3913cb31.bfecbc",
        "type": "ui_group",
        "z": "",
        "name": "List of Sensors",
        "tab": "22e89941.424c8e",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "8c5f19c2.163c88",
        "type": "ui_group",
        "z": "",
        "name": "Available Spot For Sensor Installations Lyon",
        "tab": "22e89941.424c8e",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "a9e654c4.3ec8a8",
        "type": "ui_group",
        "z": "",
        "name": "Today's Record",
        "tab": "22e89941.424c8e",
        "order": 5,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "1e0c218.134badf",
        "type": "ui_group",
        "z": "",
        "name": "Yesterday's Record",
        "tab": "22e89941.424c8e",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "fb5bcc03.bb14d",
        "type": "ui_group",
        "z": "",
        "name": "Day Before Yesterday's Record",
        "tab": "22e89941.424c8e",
        "order": 7,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "543d7c8.331d104",
        "type": "ui_group",
        "z": "",
        "name": "Aggregated View",
        "tab": "22e89941.424c8e",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "8aea1f6.5c619e",
        "type": "ui_group",
        "z": "",
        "name": "Garage",
        "tab": "22e89941.424c8e",
        "order": 8,
        "disp": false,
        "width": "32",
        "collapse": false
    },
    {
        "id": "22e89941.424c8e",
        "type": "ui_tab",
        "z": "",
        "name": "Lyon Heat Wave Mitigation Dashboard",
        "icon": "dashboard"
    }
]
