flows/UIaaS_KnaaS_Interaction/7__Bottlebank_Waste_Management_Dashboard
[
    {
        "id": "e9325318.89d19",
        "type": "tab",
        "label": "7_Bottlebank_Waste_Management_Dashboard"
    },
    {
        "id": "b75196c3.819ac",
        "type": "inject",
        "z": "e9325318.89d19",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 103.33332824707031,
        "y": 243.3333282470703,
        "wires": [
            [
                "29843620.f7c8c2"
            ]
        ]
    },
    {
        "id": "29843620.f7c8c2",
        "type": "omiNodeV9",
        "z": "e9325318.89d19",
        "name": "BottleBank O-MI Node",
        "path_InfoItem": "https://biotope-omi.alpha.grandlyon.com/",
        "token": "",
        "operations": "Read",
        "ttl": "40",
        "interval": "",
        "callback": "",
        "newest": "",
        "oldest": "",
        "begin": "",
        "end": "",
        "value": "",
        "reqID": "",
        "metadata": true,
        "readTypes": "read1time",
        "x": 269.99996185302734,
        "y": 309.9999952316284,
        "wires": [
            [
                "dcfccdfe.dac6b8"
            ]
        ]
    },
    {
        "id": "dcfccdfe.dac6b8",
        "type": "xml",
        "z": "e9325318.89d19",
        "name": "BottleBank O-DF structure to JSON",
        "attr": "",
        "chr": "",
        "x": 528.3332871331108,
        "y": 310.00000699361163,
        "wires": [
            [
                "c36420d3.480de"
            ]
        ]
    },
    {
        "id": "c36420d3.480de",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "Extract response from BottleBank O-MI Respnse",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 566.1112442016602,
        "y": 358.8888921737671,
        "wires": [
            [
                "96065116.44414",
                "5804cdd2.e6e38c",
                "22052477.6d2074",
                "b5cfc2a7.254e5",
                "c038fd6e.4b827"
            ]
        ]
    },
    {
        "id": "e68ec41b.aff2b",
        "type": "worldmap",
        "z": "e9325318.89d19",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 1146.1111450195312,
        "y": 350.00001335144043,
        "wires": []
    },
    {
        "id": "96065116.44414",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "parseForTheWorldMap",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 878.3332824707031,
        "y": 311.1111536026001,
        "wires": [
            [
                "e68ec41b.aff2b"
            ]
        ]
    },
    {
        "id": "dde5e319.250a5",
        "type": "function",
        "z": "e9325318.89d19",
        "name": "move and zoom",
        "func": "msg.payload = { command:{layer:\"Esri Terrain\",lat:61.0,lon:23.0,zoom:3} };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 933.3333129882812,
        "y": 246.6666660308838,
        "wires": [
            [
                "e68ec41b.aff2b"
            ]
        ]
    },
    {
        "id": "bc1df10e.cba73",
        "type": "inject",
        "z": "e9325318.89d19",
        "name": "Inject This First",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 739,
        "y": 246.55561685562134,
        "wires": [
            [
                "dde5e319.250a5"
            ]
        ]
    },
    {
        "id": "5804cdd2.e6e38c",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "List Extraction for Most Used Bottlebanks",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 881.6667175292969,
        "y": 416.6666736602783,
        "wires": [
            [
                "9833773d.0895d8"
            ]
        ]
    },
    {
        "id": "22052477.6d2074",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "List Extraction for Available Bottlebanks",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 850.0000610351562,
        "y": 549.9999732971191,
        "wires": [
            [
                "83ab9481.8f46f8"
            ]
        ]
    },
    {
        "id": "9833773d.0895d8",
        "type": "ui_template",
        "z": "e9325318.89d19",
        "group": "79f5fcfc.12678c",
        "name": "Most Used Bottle Banks",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1184.4444444444443,
        "y": 414.44444444444446,
        "wires": [
            []
        ]
    },
    {
        "id": "b8ca5086.1c4df",
        "type": "ui_template",
        "z": "e9325318.89d19",
        "group": "a533fdcf.d26238",
        "name": "Most Unused Bottlebanks",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1184.4444198608398,
        "y": 457.77777194976807,
        "wires": [
            []
        ]
    },
    {
        "id": "83ab9481.8f46f8",
        "type": "ui_template",
        "z": "e9325318.89d19",
        "group": "aac469e5.ac96c",
        "name": "Available Bottlebanks",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1171.111111111111,
        "y": 506.66666666666663,
        "wires": [
            []
        ]
    },
    {
        "id": "8c7c62ee.dc0978",
        "type": "ui_template",
        "z": "e9325318.89d19",
        "group": "b0b47e07.fd2e",
        "name": "Bottlebanks on Worldmap",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe src=\"http://biotope.iais.fraunhofer.de/node-red/worldmap/\" height=\"658\" width=\"1482\">\n <p>Your browser does not support iframes.</p>\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1177.7778244018555,
        "y": 554.444465637207,
        "wires": [
            []
        ]
    },
    {
        "id": "c9529367.f2886",
        "type": "ui_template",
        "z": "e9325318.89d19",
        "group": "f50e4555.ee7e38",
        "name": "Notifications",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1137.7777671813965,
        "y": 597.7777690887451,
        "wires": [
            []
        ]
    },
    {
        "id": "b5cfc2a7.254e5",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "List Extraction for Most Unused Bottlebanks",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 866.6666259765625,
        "y": 489.99998021125793,
        "wires": [
            [
                "b8ca5086.1c4df"
            ]
        ]
    },
    {
        "id": "c038fd6e.4b827",
        "type": "python3-function",
        "z": "e9325318.89d19",
        "name": "Notification Extraction",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 787.7777709960938,
        "y": 609.9999542236328,
        "wires": [
            [
                "c9529367.f2886"
            ]
        ]
    },
    {
        "id": "79f5fcfc.12678c",
        "type": "ui_group",
        "z": "",
        "name": "Most Used Bottlebanks",
        "tab": "4531096e.9cbc4",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a533fdcf.d26238",
        "type": "ui_group",
        "z": "",
        "name": "Most Unused Bottlebanks",
        "tab": "4531096e.9cbc4",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "aac469e5.ac96c",
        "type": "ui_group",
        "z": "",
        "name": "Available Bottlebanks",
        "tab": "4531096e.9cbc4",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "b0b47e07.fd2e",
        "type": "ui_group",
        "z": "",
        "name": "Bottlebanks on Worldmap",
        "tab": "4531096e.9cbc4",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "f50e4555.ee7e38",
        "type": "ui_group",
        "z": "",
        "name": "Notifications",
        "tab": "4531096e.9cbc4",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "4531096e.9cbc4",
        "type": "ui_tab",
        "z": "",
        "name": "Bottlebank Waste Management Dashboard",
        "icon": "dashboard",
        "order": 6
    }
]
